/* Montserrat fonts */

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/Montserrat-Regular.eot);
    src: local('Montserrat-Regular'),
         url(./fonts/Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
         url(./fonts/Montserrat-Regular.woff2) format('woff2'),
         url(./fonts/Montserrat-Regular.woff) format('woff');
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/Montserrat-Bold.eot);
    src: local('Montserrat-Bold'),
         url(./fonts/Montserrat-Bold.eot?#iefix) format('embedded-opentype'),
         url(./fonts/Montserrat-Bold.woff2) format('woff2'),
         url(./fonts/Montserrat-Bold.woff) format('woff');
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url(./fonts/Montserrat-Italic.eot);
    src: local('Montserrat-Italic'),
         url(./fonts/Montserrat-Italic.eot?#iefix) format('embedded-opentype'),
         url(./fonts/Montserrat-Italic.woff2) format('woff2'),
         url(./fonts/Montserrat-Italic.woff) format('woff');
}

/*  Playfair Display fonts */

@font-face {
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/PlayfairDisplay-Regular.eot);
    src: local('PlayfairDisplay-Regular'),
         url(./fonts/PlayfairDisplay-Regular.eot?#iefix) format('embedded-opentype'),
         url(./fonts/PlayfairDisplay-Regular.woff2) format('woff2'),
         url(./fonts/PlayfairDisplay-Regular.woff) format('woff');
}

@font-face {
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: bold;
    src: url(./fonts/PlayfairDisplay-Bold.eot);
    src: local('PlayfairDisplay-Regular'),
         url(./fonts/PlayfairDisplay-Bold.eot?#iefix) format('embedded-opentype'),
         url(./fonts/PlayfairDisplay-Bold.woff2) format('woff2'),
         url(./fonts/PlayfairDisplay-Bold.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
